<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信息后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <style>
        .active1{background: #fcfcfc8c;}
        .active1 .a1{color: #b66dff;}
    </style>
</head>

<body>
    <div class="container">

        <%- include('./common/head.ejs',{nickname:nickname,isadmin:isadmin})%>
        <div class="main">
            <%- include('./common/menu.ejs')%>


            <div class="body">
                <div class="card">

                    <div class="card-body">

                        <div class="btnAdd">

                            <button id="btnAdds" class="btn  btnSeach">新增品牌</button>


                            <div class="logAdd">
                                <h2>新增</h2>
                                <form action="/users/addBrand" method="POST" enctype="multipart/form-data" class="form-inline addForm">
                                    品牌LOGO： <input type="file" name="file" class="form-file"><br><br><br>
                                    品&nbsp;牌&nbsp;名&nbsp;称：<input type="text" name="brandName" placeholder="请输入品牌名称"
                                        class="form-control"><br><br>

                                    &emsp;&emsp;&emsp;&emsp; <button type="submit" class="btn  btnSeach btncle">确定</button>&emsp;&emsp;<button
                                        id="btnClose" type="button" class="btn  btnSeach btncle">取消</button>
                                </form>
                            </div>
                            <div class="logUpdate">
                                <h2>修改</h2>
                                <form action="/users/UpdateBrand" method="POST" enctype="multipart/form-data" class="form-inline addForm">
                                    <input type="hidden" class="bId" name="id">
                                    品牌LOGO： <input type="file" name="file" class="form-file"><br><br><br>
                                    品&nbsp;牌&nbsp;名&nbsp;称：<input type="text" name="brandName" placeholder="请输入品牌名称"
                                        class="form-control brandName"><br><br>
                                    &emsp;&emsp;&emsp;&emsp; <button type="submit" class="btn  btnSeach btncle">确定</button>&emsp;&emsp;<button
                                        id="btnCloseUpdate" type="button" class="btn  btnSeach btncle">取消</button>
                                </form>

                            </div>
                        </div>

                        <table class="table  ">
                            <thead class="theadTitle">
                                <tr>
                                    <th>
                                        序号
                                    </th>
                                    <th>
                                        品牌LOGO
                                    </th>
                                    <th>
                                        品牌名称
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0;i< brandList.length;i++){%>
                                <tr>
                                    <td class="id" style="display:none">
                                        <%= brandList[i]._id%>
                                    </td>
                                    <td>
                                        <%= i+1%>
                                    </td>
                                    <td>
                                        <img src="<%= brandList[i].filename%>" style="width: 30px;">
                                    </td>
                                    <td class="bName">
                                        <%= brandList[i].brandName%>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btnPhoneUp" style='color:#3e4b5b' onclick="btnUpdate(this)">修改</a>&emsp;
                                        <a href="/users/brandDel?id=<%= brandList[i]._id %>" style='color:#3e4b5b'>删除</a>
                                    </td>
                                </tr>
                                <%}%>

                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="/brand.html?page=<%= currentPage-1 < 1 ? 1: currentPage -1 %>&pageSize=<%= pageSize%>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <% for(var i=0; i < totalpage; i++) { %>
                                <li class="<%= currentPage == (i+1) ? 'active': '' %>"><a href="/brand.html?page=<%=i+1%>&pageSize=<%= pageSize %>">
                                        <%= i + 1%></a></li>
                                <%}%>
                                <li>
                                    <a href="/brand.html?page=<%= currentPage + 1 > totalpage ? totalpage: currentPage + 1 %>&pageSize=<%=pageSize%>"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>









        </div>
        <%- include('./common/foot.ejs')%>

    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script>
    $("#btnAdds").click(function () {
        $(".logAdd").show();
    })

    function btnUpdate(i) {
        var id = $(i).parent().parent().find(".id").html().trim();
        var brandName = $(i).parent().parent().find(".bName").html().trim();
        $(".brandName").val(brandName);
        $(".bId").val(id);
        $(".logUpdate").show();
    }

    $("#btnClose").click(function () {
        $(".logAdd").hide();
    })
    $("#btnCloseUpdate").click(function () {
        $(".logUpdate").hide();
    })
</script>