<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxx后台管理系统</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body>
    <div class="container">

        <%- include('./common/head.ejs',{nickname:nickname,isadmin:isadmin})%>
        <div class="main">
            <%- include('./common/menu.ejs')%>
            <div class="body">
                <div class="card">

                    <div class="card-body">


                        <form class="form-inline">
                            <input type="text" class="form-control">
                            <button class="btn  btnSeach">搜索</button>
                        </form>

                        <table class="table  ">
                            <thead class="theadTitle">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        用户名
                                    </th>
                                    <th>
                                        昵称
                                    </th>
                                    <th>
                                        性别
                                    </th>
                                    <th>
                                        年龄
                                    </th>
                                    <th>
                                        是否管理员
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0;i<userList.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= userList[i].username%>
                                    </td>
                                    <td>
                                        <%= userList[i].nickname%>
                                    </td>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= parseInt(userList[i].isadmin)?'是':'否' %>
                                    </td>
                                    <td>
                                        <% if(userList[i].username===username){%>

                                        <a href="#" style='color:#3e4b5b'>修改</a>

                                        <%}else if(parseInt(userList[i].isadmin)) {%>

                                        <% } else{%>
                                        <a href="#" style='color:#3e4b5b'>修改</a>&emsp;
                                        <a href="/users/delete" style='color:#3e4b5b'>删除</a>
                                        <% }%>
                                    </td>
                                </tr>
                                <% }%>
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="/users.html?page=<%= currentPage-1 < 1 ? 1: currentPage -1 %>&pageSize=<%= pageSize%>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <% for(var i=0; i < totalpage; i++) { %>
                                <li class="<%= currentPage == (i+1) ? 'active': '' %>"><a href="/users.html?page=<%=i+1%>&pageSize=<%= pageSize %>">
                                        <%= i + 1%></a></li>
                                <%}%>
                                <li>
                                    <a href="/users.html?page=<%= currentPage + 1 > totalpage ? totalpage: currentPage + 1 %>&pageSize=<%=pageSize%>"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <%- include('./common/foot.ejs')%>

    </div>
</body>

</html>